.CatsList {
    margin: auto;
    width: 50%;
}

.CatsList-Table {
    border-collapse: collapse;
    width: 100%;
}

.CatsList-Table td,th {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 0.4rem;
    text-align: left;
}

.CatsList-Table-Header {
    background-color: #61dafb;
}

.CatsList-Section-Header {
    text-align: left;
}